.App {
  text-align: center;
}
a.disabled {
  pointer-events: none;
  cursor: default;
}
.search-label{
  position: relative;
}
body{
  background-color:#101010;
}
.container{
  width:100%;
  max-width: 450px;
}
::placeholder {
  color: gray;
  opacity: 1; 
}
.inp{
  text-align: center;
}
:-ms-input-placeholder { 
  color: gray;

}

::-ms-input-placeholder { 
  color: gray;

}
.filter{
  max-width: 500px;
  margin:auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.card{
  background-color:  	#181818;
}
.heading{
  font-family: 'Reggae One', cursive;
}
.navbar{
  height:80px;
}
.container-loading{
  margin-top:100px;
  margin-bottom:auto;
}
img{
  height:200px;
  width:200px;
  margin-right: 200px;
  margin-left: 100px;
  margin-top: 20px;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
